{# Výpis zpráv. #}
<html lang="cs-cz">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albert Patera#{{ block('title') }}</title>

    <!-- include summernote css/js -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>


</head>
<article>

    <header>
        <h1 id="header" class="text-center display-1 text-info" style="text-transform: uppercase">website administration</h1>
        <hr>
            <ul class="nav">
                <li title="home" style="display: inline-block"><a href="/"><span class="fa fa-home"></span> </a> </li>
                {% for item in menu %}

                    {% if item.idParent > 0 %}

                        <li id="{{ item.name|lower }}_{{ item.id }}" class="dis nav-item" style="display: block"><a class="nav-link text-secondary" href="{% if item.redirectToUrl != NULL %} 'http://' {{ item.redirectToUrl }}" target="_blank {% else %}{{ item.redirectTo }}{% endif %}">{{ item.name }}</a></li>
                    {% else %}
                        <li  id="{{ item.name|lower }}_{{ item.id }}" class="nav-item" style="display: inline-block; list-style-type: none" title="{{ item.description }}"><a class="nav-link" id="{{ item.id }}-{{ item.name }}" title="{{ item.description }}" href="{{ item.redirectTo }}">{{ item.name }}</a> </li>

                    {% endif %}

                {%  endfor%}
            </ul>
        <hr>

    </header>
    <section>
        <div class="container-fluid">


        </div>
        {% block body %}{% endblock %} {# Vložení obsahu do šablony. #}
    </section>
</article>
</html>

{% block javascripts %}
    <script src="/js/sticky_menu/jquery.sticky.js"></script>
    <script>
        $(document).ready(function() {
            $('.summernote').summernote();
            $("header").sticky({topSpacing:0});
        });
    </script>
{% endblock %}
